[submodule "NP.Utilities"]
	path = NP.Utilities
	url = https://github.com/npolyak/NP.Utilities.git
	branch = master
[submodule "NP.Concepts"]
	path = NP.Concepts
	url = https://github.com/npolyak/NP.Concepts.git
	branch = master
[submodule "NP.IoCy"]
	path = NP.IoCy
	url = https://github.com/npolyak/NP.IoCy.git
	branch = master
