################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NP.Roxy/bin/Debug
/NP.Roxy/obj/Debug
/NP.Utilities/bin/Debug
/NP.Utilities/obj/Debug
/packages
/TESTS/InterfaceImplTest/obj/Debug
/TESTS/NP.RosJect.WrapperGenerationTests/obj/Debug
/TESTS/RoxyTest/NP.Roxy.InterfaceImplTest/.vs/NP.Roxy.InterfaceImplTest/v15
/TESTS/RoxyTest/NP.Roxy.InterfaceImplTest/bin/Debug
/TESTS/RoxyTest/NP.Roxy.InterfaceImplTest/obj/Debug
/TESTS/RoxyTest/NP.Roxy.SelectableDataTest/obj/Debug
/TESTS/RoxyTest/NP.Roxy.SelectableDataTest/.vs/NP.Roxy.InterfaceImplTest/v15
/TESTS/RoxyTest/NP.Roxy.Tests.ComplexTypeImplTest/obj/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.ComplexTypeImplTest/bin/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.ComplexTypeImplTest/.vs/NP.Roxy.InterfaceImplTest/v15
/TESTS/RoxyTest/NP.Roxy.Tests.EmbeddingConcretization/obj/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.EmbeddingConcretization/bin/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.EmbeddingConcretization/.vs/NP.Roxy.InterfaceImplTest/v15
/TESTS/RoxyTest/NP.Roxy.Tests.NonPublicMembers/obj/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.NonPublicMembers/bin/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.NonPublicMembers/.vs/NP.Roxy.InterfaceImplTest/v15
/TESTS/RoxyTest/NP.Roxy.Tests.OverridingVirtualsTest/obj/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.OverridingVirtualsTest/bin/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.OverridingVirtualsTest/.vs/NP.Roxy.InterfaceImplTest/v15
/TESTS/RoxyTest/NP.Roxy.Tests.RemovableDataCollectionTest/obj/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.RemovableDataCollectionTest/.vs/NP.Roxy.InterfaceImplTest/v15
/TESTS/RoxyTest/NP.Roxy.Tests.StaticMethods/obj/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.StaticMethods/bin/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.StaticMethods/.vs/NP.Roxy.InterfaceImplTest/v15
/TESTS/RoxyTest/NP.Roxy.Tests.TypeImplTest/obj/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.TypeImplTest/.vs/NP.Roxy.InterfaceImplTest/v15
/TESTS/TestProj/obj/Debug
/TESTS/TestProj/bin/Debug
/TESTS/Demos/NP.Roxy.Demos.InterfaceImpl/obj/Debug
/TESTS/Demos/NP.Roxy.Demos.InterfaceImpl/bin/Debug
/TESTS/Demos/NP.Roxy.Demos.PropChangedInterfaceImpl/bin/Debug
/TESTS/Demos/NP.Roxy.Demos.PropChangedInterfaceImpl/obj/Debug
/TESTS/Demos/NP.Roxy.Demos.Wrappers/bin/Debug
/TESTS/Demos/NP.Roxy.Demos.Wrappers/obj/Debug
/TESTS/Demos/NP.Roxy.Demos.EnumToInterface/bin/Debug
/TESTS/Demos/NP.Roxy.Demos.EnumToInterface/obj/Debug
/NP.Roxy/DA_NU
/NP.Roxy/NP.Roxy.0.9.1.nupkg
/NP.Roxy/NP.Roxy.0.9.1.1.nupkg
/TESTS/Concerns/MultiConcernsRoxyDemo/obj/Debug
/TESTS/Concerns/MultiConcernsRoxyTest/bin/Debug
/TESTS/Concerns/MultiConcernsRoxyTest/obj/Debug
/TESTS/RoxyTest/NP.Roxy.OverloadingTest/bin/Debug
/TESTS/RoxyTest/NP.Roxy.OverloadingTest/obj/Debug
/TESTS/RoxyTest/NP.Roxy.CompositeGetters/bin/Debug
/TESTS/RoxyTest/NP.Roxy.CompositeGetters/obj/Debug
/TESTS/RoxyTest/NP.Roxy.StrongTypeEnumTest/bin/Debug
/TESTS/RoxyTest/NP.Roxy.StrongTypeEnumTest/obj/Debug
/TESTS/StrongTypes/NP.Roxy.StrongTypeEnumTest/bin/Debug
/TESTS/StrongTypes/NP.Roxy.StrongTypeEnumTest/obj/Debug
/TESTS/StrongTypes/NP.Roxy.StrongTypeEnumTest/obj
/TESTS/StrongTypes/NP.Roxy.StrongTypeEnumTest/bin
/TESTS/StrongTypes/NP.Roxy.CompositeGetters/bin/Debug
/TESTS/StrongTypes/NP.Roxy.CompositeGetters/obj/Debug
/TESTS/StrongTypes/NP.Roxy.StrongTypeMethodTest/bin/Debug
/TESTS/StrongTypes/NP.Roxy.StrongTypeMethodTest/obj/Debug
/TESTS/StrongTypes/NP.Roxy.MethodOverloadingTest/bin/Debug
/TESTS/StrongTypes/NP.Roxy.MethodOverloadingTest/obj/Debug
/TESTS/RoxyTest/NP.Roxy.Tests.TypeImplTest/bin/Debug
/TESTS/IoCTests/NP.Roxy.AttrTest/bin/Debug
/TESTS/IoCTests/NP.Roxy.AttrTest/obj/Debug
/TESTS/RoxyTest/NP.Roxy.SelectableDataTest/bin/Debug
/TESTS/IoCTests/NP.Roxy.WrapperIntefaceGeneration/bin/Debug
/TESTS/IoCTests/NP.Roxy.WrapperIntefaceGeneration/obj/Debug
/TESTS/IoCTests/NP.Roxy.AttrsMultiConcernsRoxyTest/bin/Debug
/TESTS/IoCTests/NP.Roxy.AttrsMultiConcernsRoxyTest/obj/Debug
